
body, html {
    margin: 0;
    padding: 10px;
    font-family: 'Arial';
}

.left, .right {
    float: left;
    width: calc(50%-6em);
    padding: 3em;
}

input[type="text"] {
    width: 50%;
    padding: 5px;
    margin-left: 20px;
    margin-bottom: 10px;
}

span {
    margin-left: 1em;
    margin-right: 1em;
}

button {
    margin-left: 20px;
}
